div {
  border-radius: 10px;
}

.wrapper {
  width: 520px;
  margin: 4% auto;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  text-align: center;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

.calculator {
  border: 1px solid lightslategray;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
